.profile {
    background-color: #204d74;
    color: white;
}

.content {
    margin-top: 160px;
    text-align: center;
}

.content h2:nth-child(1) {
    margin-bottom: 25px;
}

.content form input {
    padding: 8px;
    margin: 5px;
    width: 320px;
    border: 3px solid #aaa;
    font-size: 17px;
    transition: all .1s ease-in;
}

.content form input:focus {
    padding: 10px;
    border: 3px solid #221E2D;
    font-size: 19px;
    outline: none;
    transition: all .2s ease-in;
}

.profile-form {
    text-align: left;
    width: 50%;
    margin: auto;
}

.activities-in-form {
    margin: 10px 20px;
}

.activities-in-form span {
    margin-right: 7px;
}

.activities-in-form span i {
    color: red;
    font-size: 17px;
    margin-left: 2px;
    margin-right: 2px;
}

.add-activity {
    margin-top: -5px;
}

.title {
    background-image: url('../images/searchBg.jpg');
    color: white;
    text-align: center;
    padding: 70px 0;
}


/*SEARCH*/
.searchBox {
    background: orange;
    padding: 100px;
    color: white;
    font-size: 15px;
}

.searchBox input {
    padding: 5px;
    border-radius: 5px;
}

/*PROFILE FORM*/
.error-message {
    color: #E64E4E;
}