<section class="header" id="header">

    <div class="header-description text-center">
        <div class="overlay">
            <div class="header-content wow bounce animated">
                <h1 class="heading">One + One
                </h1>
                <p class="heading-subtitle">
                    Create. Teach. Learn
                </p>
            </div>
        </div> <!-- /.header-content -->

        <div class="wow zoomIn button-down" data-wow-duration="1s" data-wow-offset="100">
            <div class="wow tada" data-wow-delay="1s" data-wow-duration="1s">
                <div class="wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
                    <div class="wow pulse" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
                        <a href="#service" title="Go down">
                            <img src="images/button_downr.png" alt="MaterialUp" class="center">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.header-description -->
</section> <!-- /#header -->

<section class="service" id="service">
    <div class="wrapper">
        <div class="container">
            <h2 class="section-title wow bounceInRight animated custom-white">our mission</h2>
        </div> <!-- /.container -->
        <div class="container-fluid">
            <div class="row">
                <div class="service-content">
                    <div class="container-fluid border-3">
                        <div class="container border-2">
                            <div class="row">
                                <div class="col-sm-5 border-1">
                                    <h4 class="subtitle custom-purple wow bounceInLeft center animated">How does it work?</h4>
                                </div>
                                <div class="col-sm-7"></div>
                            </div> <!-- /.row -->
                        </div> <!-- /.container -->
                    </div> <!-- /.container-fluid -->
                    <div class="container border-2">
                        <div class="row .service-table">
                            <div class="col-sm-5 border-1 custom-purple .service-table-cell">
                                <p class="service-main-content wow pulse animated">
                                    Do you have  skills or talents you want to share with the world? Or maybe you want to learn something new but don't know how and where to get started?

                                </p>
                                <p class="service-main-content wow pulse animated">
                                    We are here to help. How it works:
                                <ul>
                                    <li>1. Create a portfolio of your skills and talents by uploading pictures, videos, or link it to another social media platform.</li>
                                    <li>2. Search for what you want to learn.</li>
                                    <li>3. Connect. </li>


                                </ul>
                                </p>
                            </div>
                            <div class="col-sm-6 .service-table-cell" style="align: right">
                                <div class="row">
                                    <div class="col-sm-4 text-center">
                                        <a href="#/profileForm">
                                            <div class="add wow bounceInRight animated" data-wow-delay=".6s">
                                                <i class="fa fa-picture-o"></i>
                                                <p>
                                                    YOU CREATE<br>A<br>PROFILE
                                                </p>
                                            </div>
                                        </a>
                                        <div class="demo">

                                        </div>
                                        <p class="custom-red text-center">

                                    </div> <!-- /.col-sm-4 -->
                                    <div class="col-sm-6 text-center">
                                        <a href="#">
                                            <div class="add wow bounceInRight animated" data-wow-delay="0.4s">
                                                <i class="fa fa-users"></i>
                                                <p>
                                                    WE CREATE A<br>CONNECTED<br>WORLD
                                                </p>
                                            </div>
                                        </a>
                                        <div class="demo">

                                            <p class="custom-red text-center">
                                        </div> <!-- /.col-sm-4 -->
                                        <div class="col-sm-4 text-center">

                                            </a>
                                            <div class="demo">
                                                <p class="custom-red text-center">

                                            </div> <!-- /.col-sm-4 -->
                                        </div> <!-- /.row -->
                                    </div> <!-- /.col-sm-7 -->
                                </div> <!-- /.row -->
                            </div> <!-- /.container -->
                            <div class="container-fluid border-4">
                                <div class="container border-2">
                                    <div class="row">
                                        <div class="col-sm-5 border-1 empty"></div>
                                        <div class="col-sm-7 empty"></div>
                                    </div> <!-- /.row -->
                                </div> <!-- /.container -->
                            </div> <!-- /.container-fluid -->
                        </div> <!-- /.service-content -->
                    </div> <!-- /.row -->
                </div> <!-- /.container-fluid -->
            </div> <!-- /.wrapper -->
</section> <!-- /#service -->
<!--== 6. About Us ==-->

<section id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="about-table">
                <div class="col-md-4 col-sm-12 about-table-cell">
                    <div class="about-content">
                        <div class="wrapper">
                            <h2 class="section-title wow bounceInRight animated">about us</h2>
                            <p class="section-paragraph wow pulse animated">
                                This platform was created out of a yearning for inspiration and connection to others. It was created out of the pure joy of learning, teaching, and simply taking on new hobbies. It's a gateway for those that want to showcase what they know and help others achieve their dreams. See, we don't think of social media as of posting yet another filtered picture of what you had for lunch. We think of it as a platform to become brighter, happier, and more well-rounded people
                                What's great about this that it is non-binding. Do you want to continue learning or was it not at all what you thought it would be? The choice is yours. At least you will make some friends along the way. In this world of technological advances, contribute to re-connecting the world again.
                            </p> <!-- /.section-paragraph -->
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.about-content -->
                </div>
                <div class="col-md-6 col-sm-8 about-table-cell" style="background:url(images/share.jpg);background-size:cover;">
                </div>
            </div> <!-- /.about-table -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
</section> <!-- /#about -->
    