<div class="content">


    <form name="profileForm" ng-submit="text.push(myText); myText = null;">

        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" ng-model="data.fullname" placeholder="Enter your full name" />
        <br>

        <label for="skills">Talents & Skills</label>
        <input type="text" ng-model="skill" name="Talentsandskills" />
        <br>
        <button ng-click="addskill()" ng-disabled='skill == ""'>Add Skill</button>
        <ul><li ng-repeat="skill in skillsArray">{{ skill }}</li></ul>

        <label for="upload">Uploads</label>
        <input type="text" name="upload" ng-model="data.upload" placeholder="Upload pictures and videos" />
        <br>

    </form>
</div>