<div class="content">
    <h2>Become a member</h2>

    <form class="profile-form" name="profileForm" novalidate>

        <input type="text" name="fullname" ng-model="user.fullname" ng-focus="showFullnameError = false" placeholder="Enter your full name"
               required="required"/>
        <p class="error-message" ng-show="showFullnameError">You have to fill the full name</p>
        <br/>

        <input type="text" name="username" ng-model="user.name" ng-focus="showUsernameError = false" placeholder="Enter a username" required="required"/>
        <p class="error-message" ng-show="showUsernameError">You have to fill the username</p>

        <br>
        <input type="password" name="password" ng-model="user.password" ng-focus="showPasswordError = false; showPasswordLengthError = false" placeholder="Enter a password" required="required"/>

        <p class="error-message" ng-show="showPasswordLengthError"> *5-10 characters.</p>
        <p class="error-message" ng-show="showPasswordError">You have to fill the password</p>

        <br>
        <input type="email" name="e-mail" ng-model="user.email" ng-focus="showEmailError = false" placeholder="Enter your e-mail" required="required"/>
        <p class="error-message" ng-show="showEmailError">You have to fill the email</p>

        <br>
        <input type="text" ng-model="skill" name="Talentsandskills" ng-focus="showSkillsError = false" placeholder="Enter your skill"/>
        <button class="btn btn-success btn-lg add-activity" ng-click="addskill()" ng-disabled='skill == ""'>Add Skill
        </button>
        <br/>
        <div class="activities-in-form">
            <span ng-repeat="skill in skillsArray">{{ skill }}
                <i class="fa fa-times-circle" ng-click="deleteSkill($index)"></i> |</span>
        </div>
        <p class="error-message" ng-show="showSkillsError">You have to fill at least one skill</p>


        <!--<select ng-model="country">
            <option value=""> Select a Country</option>
            <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
        </select>-->


        <!--<textareas ng-model="aboutMe" placeholder="Make it short & sweet or a novel :)"></textareas>
        <br>

        <input type="text" name="upload" ng-model="data.upload" placeholder="Upload pictures and videos"
               required="required"/>
        <br>-->

        <div class="text-center">
            <button class="btn btn-info btn-lg" ng-click="createUser()">Finish!</button>
        </div>

        <div class="error-messages">
            <div ng-repeat="error in errorArray">{{error}}</div>
        </div>
    </form>
</div>